<div class="col-md-5">
<% if session[:id] == nil %>
  <%= form_tag '/sessions', class: 'navbar-form col-md-3' do |f| %>
      <%= text_field_tag :name, nil, :placeholder => "Username", class: 'form-control' %>
    <div class="input-group">
      <%= password_field_tag :password, nil, :placeholder => "Password", class: 'form-control' %>
      <span class="input-group-btn">
        <%= submit_tag "Log In", class: 'btn btn-default' %>
      </span>
  </div>
  <% end %>
  <% else  %>
<% end %>
<p class="error">
  <%= flash[:error]  %>
</p>
<p class="notice">
  <%= flash[:notice] %>
</p>
</div>
