<% if flash[:error] %>
  <div class=" col-md-4 alert alert-danger" role="alert">
    <%= flash[:error]  %>
  </div>
<% elsif flash[:notice] %>
<div class=" col-md-4 alert alert-success" role="alert">
  <%= flash[:notice]  %>
</div>
<% end%>
<div class="col-md-2">
<% if session[:id] == nil %>
  <%= form_tag '/sessions', class: 'navbar-form col-md-3' do |f| %>
      <%= text_field_tag :name, nil, :placeholder => "Username", class: 'form-control' %>
    <div class="input-group">
      <%= password_field_tag :password, nil, :placeholder => "Password", class: 'form-control' %>
      <span class="input-group-btn">
        <%= submit_tag "Log In", class: 'btn btn-default' %>
      </span>
  </div>
  <% end %>
  <% else  %>
<% end %>
</div>
