<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div class="jumbotron">
      <h1>Welcome to Fate: Dimensions</h1>
      <p>Fate: Dimensions is an application to help manage your custom built information for the Fate role playing system. Players can track their player character info, and GM's can manage all the information for their modules. Sign up below and take a look around. It's free!</p>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-md-5'></div>
  <div class="col-md-4" id="register">
    <h3 class="">Register</h3>
    <%= form_for @user do |f| %>
      <div class="input-group">
        <span class="input-group-addon">
          <i class='fa fa-user fa-fw'></i>
        </span>
        <%= f.text_field :name, placeholder: 'Username', class: 'form-control' %>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class='fa fa-lock fa-fw'></i>
        </span>
        <%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class='fa fa-lock fa-fw'></i>
        </span>
        <%= f.password_field :password_again, placeholder: 'confirm password', class: 'form-control' %>
      </div>
      <div>
        <%= f.submit 'Register', class: 'btn' %>
      </div>
    <% end %>
  </div>
  <div class='col-md-3'></div>
</div>
