<div class="row">
  <div class="form center" id="register">
    <h3 class="form-header">Register</h3>
    <%= form_for @user do |f| %>
      <span class='fa fa-user fa-stack icon'></span>
      <%= f.text_field :name, placeholder: 'Username', class: 'form-field' %>
      <span class='fa fa-lock fa-stack icon'></span>
      <%= f.password_field :password, placeholder: 'password', class: 'form-field' %>
      <span class='fa fa-lock fa-stack icon'></span>
      <%= f.password_field :password_again, placeholder: 'confirm password', class: 'form-field' %>
      <div>
        <%= f.submit 'Register', class: 'submit' %>
      </div>
    <% end %>
  </div>
</div>
