<p class="error">
  <%= flash[:error] %>
</p>
<p class="notice">
  <%= flash[:notice] %>
</p>
<div class="row">
  <div class="col span-3-d span-4-t pic">
    <h2 class="no-m-btm">
      <%= "#{@user.name.titleize}'s profile"  %>
    </h2>
    <div class="pad-btm-m">
      <%= link_to("Edit Profile/Account Details", edit_user_path(@user.id), class: "edit_user") %>
    </div>
      <%= image_tag(@user.picture) %>
    <p>
      Member since <%= format_time(@user.created_at)  %>
    </p>
  </div>
  <div class="col span-9-d span-8-t">
    <h4> About <%= "#{@user.name.titleize}" %> </h4>
    <p>
      <%= @user.bio %>
    </p>
    <h4>
      <%= "#{@user.name.titleize}'s games:"%>
    </h4>
  </div>
</div>