<div class='systemContent pad'>
  <h3>
    About <%= @system.name %>:
  </h3>
  <h6>
    by <%= @user.name %>
  </h6>
  <h4>
    <%= @system.setting %>
  </h4>
  <h4>
    Description:
  </h4>
     <%= @system.description %>
  </p>
  <h4>
    Skill List:
  </h4>
  <ul id="skills">
    <% @system.skills.each do |skill| %>
    <li>
      <%= skill.name %>
      <p>
      <%= skill.description %>
      </p>
    </li>
    <% end %>
  </ul>
  <% if session[:id] == @system.user_id %>
  <button class= 'editSystem' href=<%= edit_system_path(@system.id) %>>edit</button>
  <button class='deleteSystem' href=<%= system_path(@system.id)%>>Delete</button>
  <% end %>
</div>
<%= link_to "Back", systems_path %>
