<div class='systemContent'>
  <h3>
    About <%= @system.name %>:
  </h3>
  <h4>
    Creator: <%= @user.name %>
  </h4>
  <h4>
    Description:
  </h4>
  <p>
     <%= @system.description %>
  </p>
  <button class= 'editSystem' href=<%= edit_system_path(@system.id) %>>edit</button>
  <button class='deleteSystem' href=<%= system_path(@system.id)%>>Delete</button>
</div>
<%= link_to "Back", systems_path %>
