<div class='systemContent pad'>
  <h3>
    About <%= @system.name %>:
  </h3>
  <h6>
    by <%= @user.name %>
  </h6>
  <h4> 
    <%= @system.setting %>
  </h4>
  <h4>
    Description:
  </h4>
  <p>
     <%= @system.description %>
  </p>
  <h4>
    Locations:
  </h4>
  <ul>
    <% @system.locations.each do |location|  %>
    <li>
      <%= link_to("#{location.name}", location_path(location.id), class: "location", id: "location" + "#{location.id}") %>
    </li>
    <% end %>
  </ul>
  <button class= 'editSystem' href=<%= edit_system_path(@system.id) %>>Edit</button>
  <button class='deleteSystem' href=<%= system_path(@system.id)%>>Delete</button>
</div>
<%= link_to "Back", systems_path %>
