<% if session[:id] != nil  %>
<%= link_to "Create a new system", new_system_path, class: "newSystem" %>
<div id="createFormContainer">
</div>
  <% @systems.each do |system| %>
    <h3>
      <%= link_to "#{system.name}", system_path(system), class: "system" %>
    </h3>
    <div id="system<%= system.id %>">
    </div>
    <div id="system<%= system.id %>Update">
    </div>
  <% end %>
  <% else %>
    <p class="description">The FATE digital assistant allows you to create and manage your own systems for the FATE rpg system. As a member you can Create games, manage parties, and track all of your info for your FATE games. Signing up is easy and membership is free.</p>
    <p class="description">Not a member? <%= link_to "Sign up here!", new_user_path %></p>
<% end %>
