<!DOCTYPE html>
<html>
<head>
  <title>FateDigitalAssistant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="top">
    FATE Digital Assistant 
  </h1>
  <%= render "sessions/new" %>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
