<!DOCTYPE html>
<html>
<head>
  <title>Fate: Dimensions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= favicon_link_tag %>
</head>
<body>
  <div id="main-container" class="container-fluid">
    <div class="top row">
      <div class="navbar navbar-default">
        <div class='navbar-header col-md-9'>
          <%= link_to "Fate: Dimensions", root_path, class: "navbar-brand" %>
        </div>
        <div class="col-md-3">
          <% if session[:id] == nil %>
            <%= render "sessions/new" %>
          <% else %>
            <%= render "sessions/show" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='row'>
      <% if session[:id] %>
        <div class="col-md-2"role="navigation">
          <%= react_component('SideBar', {userId: session[:id]}) %>
        </div>
        <div id='nav-container' class="col-md-10"></div>
        <div id="container" class="col-md-9">
          <%= yield %>
        </div>
      <% else %>
        <div id="container" class="col-md-10">
          <%= yield %>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
