<!DOCTYPE html>
<html>
<head>
  <title>FATE: Dimensions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top row">
    <div class="pad-left col span-7-d span-7-t">
      <span class="header"> <%= link_to "FATE: Dimensions", root_path %> </span>
    </div>
    <div class="pad-right col span-5-d span-5-t right pad-top">
      <% if session[:id] == nil %>
        <%= render "sessions/new" %>
      <% else %>
        <%= render "sessions/show" %>
      <% end %>
    </div>
  </div>
  <div class= "nav row m-btm">
    <ul class= "navlist">
      <li>
        <%= link_to "SYSTEMS", systems_path %>
      </li>
    </ul>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
