<!DOCTYPE html>
<html>
<head>
  <title>FateDigitalAssistant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <div class="container"> -->
    <div class="top row">
      <div class="pad-left col span-7-d span-7-t">
        <span class="header">FATE Digital Assistant </span>
      </div>
      <div class="pad-right col span-5-d span-5-t right">
        <%= render "sessions/new" %>
      </div>
    </div>
  <!-- </div> -->
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
