<!DOCTYPE html>
<html>
<head>
  <title>FATE: Dimensions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <%= favicon_link_tag %>
</head>
<body>
  <div class="top row">
    <div class="pad-left col span-8-d span-8-t">
      <span class="header"> <%= link_to "FATE: Dimensions", root_path %> </span>
    </div>
    <div class="pad-right col span-4-d span-4-t right pad-top">
      <% if session[:id] == nil %>
        <%= render "sessions/new" %>
      <% else %>
        <%= render "sessions/show" %>
      <% end %>
    </div>
  </div>
    <% if session[:id] %>
      <%= react_component('SideBar', {userId: session[:id]}) %>
      <div id="container" class="fl-right-dash">
        <%= yield %>
      </div>
    <% else %>
      <div id="container">
        <%= yield %>
      </div>
    <% end %>
</body>
</html>
